
<div class="card">
    <div class="card-header">{{ pageTitle }}</div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Precio</th>
                        <th>Año de lanzamiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let libro of libros">
                        <td> <a [routerLink]="'/detalle'"> {{ libro.Titulo }} </a></td>
                        <td> {{ libro.Autor }} </td>
                        <td> {{ libro.Precio | currency }} </td>
                        <td> {{ libro.Fecha | date:"MM/dd/yyyy" }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
